<div class="left_content">
	picture here
</div>

<div class="right_content">
<h2>About Me</h2>
<p/ >
My name is Nickie O'Toole. I am a licensed Real Estate Broker who works for a small firm -- Action Realty - Bob Pizzi, based in Seymour, Connecticut. I began my career in real estate in ____. During this time, I have work on more than X number of real estate transactions. I pride my self in the one-on-one attention each of my client's receive and the satisfaction that my clients have during and upon completing a transaction. 
<p />
More paragraphs needed
<p />
My name is Nickie O'Toole. I am a licensed Real Estate Broker who works for a small firm -- Action Realty - Bob Pizzi, based in Seymour, Connecticut. I began my career in real estate in ____. During this time, I have work on more than X number of real estate transactions. I pride my self in the one-on-one attention each of my client's receive and the satisfaction that my clients have during and upon completing a transaction. 
<p />
</div>
<div>
<h2>About this site</h2>
<p/ >
This website has been designed to allow my past, present and future clients to be engaged in the process of searching and promoting potential properties and listings. Comment on property 

 This website has been designed to allow my past, present and future clients to be engaged in the process of searching and promoting potential properties and listings. This website has been designed to allow my past, present and future clients to be engaged in the process of searching and promoting potential properties and listings. This website has been designed to allow my past, present and future clients to be engaged in the process of searching and promoting potential properties and listings. 
</div>